{% extends "base.html" %}

{% block title %}
About Us
{% endblock title %}

{% block content %}
<div class="container-fluid my-4 bg-tertiary p-5">
  <div class="row offset-1">
    <div class="col-10">
      <h1 class="rounded-2 text-secondary py-2">Welcome to Book Haven</h1>
      <p class="py-2">
        Welcome to **Book Haven**, your ultimate destination for a world of literary treasures. At Book Haven, we celebrate the timeless joy of reading and aim to bring the magic of books closer to everyone.
      </p>
      <p class="py-2">
        Whether you're a passionate bibliophile, a casual reader, or searching for the perfect gift, our carefully curated collection of books offers something for everyone. From bestselling novels and timeless classics to educational and inspirational reads, we cater to diverse interests and tastes.
      </p>
      <p class="py-2">
        Our mission is to provide an exceptional selection, competitive pricing, and unparalleled customer service. At Book Haven, we believe every book has a story to tell, and every reader deserves an unforgettable journey.
      </p>
      <p class="py-2">
        Thank you for choosing **Book Haven**. Let us help you discover your next great adventure between the pages of a book!
      </p>
    </div>
  </div>
</div>
{% endblock content %}
